.container {
  border: 2px solid teal;
}

.upi-img {
  display: block;
  margin: auto;
}

.button-container {
  text-align: center;
  padding: 20px 0;
}

button {
  background-color: darkseagreen;
  min-height: 50px;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
}
